<!-- 
<head th:fragment="common_resource_js">


Bootstrap JS + Popper.js
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<script
	src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js">
	
</script>

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

<script
	src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
<script
	src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
<script
	src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>


For exporting the information in XLS, PDF WORD 
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>

<script th:src="@{/js/exportformat.js}"></script>
</head>

 -->
<th:block th:fragment="common_resource_js">
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Your sidebar JS -->
<!-- 	<script th:src="@{/js/sidebar.js}"></script> -->
	<script th:src="@{/js/dynamicsidebar.js}"></script>
	
	<script src="https://kit.fontawesome.com/c63e4ce342.js" crossorigin="anonymous"></script>
</th:block>