

<th:block th:fragment="common_resource_css">
	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
		rel="stylesheet">

	<!--This is use for data table  -->
	<link rel="stylesheet"
		href="https://cdn.datatables.net/1.13.8/css/jquery.dataTables.min.css">

	<link rel="stylesheet" th:href="@{/css/sidebar.css}" />
	<link rel="stylesheet" th:href="@{/css/main.css}" />
	<link rel="stylesheet" th:href="@{/css/pagination.css}" />

	<link rel="stylesheet" th:href="@{/css/hrcustoms.css}" />

	<!-- 	<link rel="stylesheet" th:href="@{/css/dynamicsidebar.css}" /> -->

	<link rel="stylesheet" th:href="@{/css/newbar.css}" />
</th:block>