<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="header" class="bg-success text-white p-3">
	<!-- 	<div style="display: flex; width: 100%;">
		<div style="flex: 1;">SPRMS System</div>
		User ::&nbsp <span sec:authentication="name"></span>
	</div> -->

	<div style="display: flex; width: 100%; align-items: center;">

		<!-- Left empty space (for balance) -->
<!-- 		<div style="flex: 1;"></div> -->

		<!-- Center: Logo + Text -->
		<div style="flex: 1; display: flex; justify-content: center; align-items: center;">
			<img th:src="@{/images/logo.png}" alt="Logo"
				style="height: 50px; margin-right: 8px;"> <span>Scholarship Profile and Resource
			Management System (SPRMS)- RCSC</span>
		</div>

		<!-- Right: User -->
		<div style="flex: 1; text-align: right;">
			User ::&nbsp <span sec:authentication="name"></span>
		</div>

	</div>
</header>
</html>