<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<th:block
	th:replace="~{fragments/commonresource_css :: common_resource_css}"></th:block>

</head>
<body>
	<section layout:fragment="content">

		<div class="container p-2 bg-body-secondary">Registered Bank
			Lists Page</div>

		<div class="container mt-3">
			<table class="table table-bordered table-hover mt-3">
				<thead class="table-dark">
					<tr>
						<th>ID</th>
						<th>College Name</th>
						<th>Acc. Holder Name</th>
						<th>Bank Name</th>
						<th>Bank Branch Name</th>
						<th>Account No.</th>
						<th>Code:</th>
						<th>Status</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="bks : ${banks}">
						<td th:text="${bks.id}"></td>
						<td th:text="${bks.collegeName}"></td>
						<td th:text="${bks.accountHolderName}"></td>
						<td th:text="${bks.bankName}"></td>
						<td th:text="${bks.branchName}"></td>
						<td th:text="${bks.accountNo}"></td>
						<td th:text="${bks.ifscSwiftCode}"></td>
						<td th:text="Active"></td>
						<td><a
							th:href="@{/master/bankregistration/edit/{id}(id=${bks.id})}"
							class="btn btn-primary btn-sm">Edit</a> <a
							th:href="@{/master/bankregistration/delete/{id}(id=${bks.id})}"
							class="btn btn-danger btn-sm"
							onclick="return confirm('Are you sure you want to delete this record?');">
								Delete </a></td>

					</tr>
				</tbody>
			</table>
		</div>

	</section>
	<!-- JS Fragment -->
	<th:block
		th:replace="~{fragments/commonresource_js :: common_resource_js}"></th:block>
</body>
</html>