<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<th:block
	th:replace="~{fragments/commonresource_css :: common_resource_css}"></th:block>

</head>

<body>
	<section layout:fragment="content">

		<div class="container p-2 bg-body-secondary">College Details
			Page</div>

		<div class="container mt-3">
			<table class="table table-bordered table-hover mt-3">
				<thead class="table-dark">
					<tr>
						<th>College Name</th>
						<th>Short Name</th>
						<th>Country</th>
						<th>State</th>
						<th>City</th>
						<th>Contact No.</th>
						<th>email</th>
						<th>Status</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="col : ${colleges}">
						<td th:text="${col.collegeName}"></td>
						<td th:text="${col.shortName}"></td>
						<td th:text="${col.country.countryName}"></td>
						<td th:text="${col.state.stateName}"></td>
						<td th:text="${col.city.cityName}"></td>
						<td th:text="${col.phoneNo}"></td>
						<td th:text="${col.email}"></td>
						<td th:text="Active"></td>
						<td><a
							th:href="@{/college/registration/edit/{id}(id=${col.id})}"
							class="btn btn-primary btn-sm">Edit</a> <a
							th:href="@{/college/registration/delete/{id}(id=${col.id})}"
							class="btn btn-danger btn-sm"
							onclick="return confirm('Are you sure you want to delete this record?');">
								Delete </a></td>

					</tr>
				</tbody>
			</table>
		</div>

	</section>
</body>
</html>
