<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<th:block
	th:replace="~{fragments/commonresource_css :: common_resource_css}"></th:block>

</head>

<body>
	<section layout:fragment="content">
		<div class="container-fluid p-2 bg-body-secondary">Add College Page</div>
	<div class="mt-3 px-3">
			<!-- Success message -->

			<div th:if="${message}" class="alert alert-success"
				th:text="${message}"></div>

			<!-- Registration Form -->
			<form th:action="@{/college/register}" th:object="${collegefrmbean}"
				method="post" autocomplete="off" id="collegeregistrationForm">
				<input type="hidden" th:field="*{id}" />
				<div class="row mb-3">
					<label for="collegeName" class="col-sm-2 col-form-label">College
						Name:</label>
					<div class="col-sm-4">
						<input type="text" th:field="*{collegeName}" id="collegeName"
							class="form-control" placeholder="Enter College Name"
							autocomplete="off" required>
					</div>

					<label for="shortName" class="col-sm-2 col-form-label">College
						Short Name:</label>
					<div class="col-sm-4">
						<input type="text" th:field="*{shortName}" id="shortName"
							class="form-control" autocomplete="off"
							placeholder="Enter College Short Name" required>
					</div>
				</div>
				<div class="row mb-3">
					<label for="email" class="col-sm-2 col-form-label">College
						Email:</label>
					<div class="col-sm-4">
						<input type="text" th:field="*{email}" id="email"
							class="form-control" autocomplete="off"
							placeholder="Enter College email" required>
					</div>

					<label for="phoneNo" class="col-sm-2 col-form-label">Phone
						No.:</label>
					<div class="col-sm-4">
						<input type="text" th:field="*{phoneNo}" id="phoneNo"
							class="form-control" autocomplete="off"
							placeholder="Enter Phone No" required>
					</div>
				</div>

				<div class="row mb-3">
					<label for="countrySelect" class="col-sm-2 col-form-label">Select
						Country :</label>
					<div class="col-sm-4">
						<select id="countrySelect" class="form-select"
							th:field="*{countryId}">
							<option value="" selected>Select Country</option>
							<option th:each="ctry : ${lstcountry}" th:value="${ctry.Id}"
								th:text="${ctry.countryName} + ' (' + ${ctry.countryCode} + ')'">
						</select>
					</div>
					<label for="stateSelect" class="col-sm-2 col-form-label">State:</label>
					<div class="col-sm-4">
						<select id="stateSelect" th:field="*{stateId}"
							th:data-selected="*{stateId}" class="form-select">
							<option value="">--Select State--</option>
						</select>
					</div>
				</div>
				<div class="row mb-3">
					<label for="citySelect" class="col-sm-2 col-form-label">City:</label>
					<div class="col-sm-4">
						<select id="citySelect" th:field="*{cityId}"
							th:data-selected="*{cityId}" class="form-select">
							<option value="">--Select City--</option>
						</select>
					</div>
					<label for="address" class="col-sm-2 col-form-label">Address:</label>
					<div class="col-sm-4">
						<input type=text th:field="*{address}" id="address"
							class="form-control" autocomplete="off"
							placeholder="Enter Address" required>
					</div>
				</div>
				<div class="row mb-3">
					<label for="website" class="col-sm-2 col-form-label">WebSite:</label>
					<div class="col-sm-4">
						<input type=text th:field="*{website}" id="website"
							class="form-control" autocomplete="off"
							placeholder="Enter College Website" required>
					</div>
				</div>
				<!-- CSRF Token -->
				<input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}" />
				<hr>
				<div class="row mb-3">
					<div class="col-sm-4 mx-auto">
						<button type="submit" class="btn btn-primary">Register</button>
					</div>
				</div>
			</form>
		</div>

	</section>
	<!-- JS Fragment -->
	<th:block
		th:replace="~{fragments/commonresource_js :: common_resource_js}"></th:block>
</body>
</html>
