<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<th:block
	th:replace="~{fragments/commonresource_css :: common_resource_css}"></th:block>

</head>
<body>

	<section layout:fragment="content">

		<div class="container p-2 bg-body-secondary">Funding Agencies
			Lists Page</div>

		<div class="container mt-3">
			<table class="table table-bordered table-hover mt-3">
				<thead class="table-dark">
					<tr>
						<th>ID</th>
						<th>Agency Name</th>
						<th>Description</th>
						<th>Status</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="falst : ${fundingagencylist}">
						<td th:text="${falst.id}"></td>
						<td th:text="${falst.fundingAgencyName}"></td>
						<td th:text="${falst.description}"></td>
						<td th:text="Active"></td>
						<td><a
							th:href="@{/master/fundingagency/edit/{id}(id=${falst.id})}"
							class="btn btn-primary btn-sm">Edit</a> <a
							th:href="@{/master/fundingagency/delete/{id}(id=${falst.id})}"
							class="btn btn-danger btn-sm"
							onclick="return confirm('Are you sure you want to delete this record?');">
								Delete </a></td>

					</tr>
				</tbody>
			</table>
		</div>

	</section>
	<!-- JS Fragment -->
	<th:block
		th:replace="~{fragments/commonresource_js :: common_resource_js}"></th:block>
</body>
</html>