<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
<!-- Include the header fragment -->
<th:block
	th:replace="~{fragments/commonresource_css :: common_resource_css}"></th:block>

</head>
<body class="container">

	<div class="p-2 bg-body-secondary">
		<h2>Java Page</h2>
	</div>
	<div class="container mt-4">

		<div class="card text-center">
			<div class="card-header">System Login</div>
			<div class="card-body">
				<h5 class="card-title">SPRMS System</h5>
				<p class="card-text">This system will have details of the
					Students Information</p>
				<button class="btn btn-primary"
					th:onclick="|window.location.href='@{/login}'|">Go to
					Login</button>
				<button class="btn btn-primary"
					th:onclick="|window.location.href='@{/user/registrationfrm}'|">Add
					User</button>
<!-- 				<a class="btn btn-primary" th:href="@{/user/registerfrm}">Add
					Me</a> -->
				<button class="btn btn-primary"
					th:onclick="|window.location.href='@{/others}'|">Add Other</button>
			</div>
			<div class="card-footer text-body-secondary">2 days ago</div>
		</div>

	</div>

	<th:block
		th:replace="~{fragments/commonresource_js :: common_resource_js}"></th:block>
</body>
</html>