<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
<!-- Include the header fragment -->
<th:block
	th:replace="~{fragments/commonresource_css :: common_resource_css}"></th:block>

</head>
<body class="container">
	<div class="d-flex flex-column justify-content-center align-items-center"
		style="height: auto; text-align: center;">
		<!-- Logo -->
		<img th:src="@{/images/logo.png}" alt="Logo"
			style="height: 50px; margin-bottom: 10px;">

		<!-- Main Heading -->
		<h2 style="margin: 0;">Scholarship Profile and Resource
			Management System (SPRMS)</h2>

		<!-- Subheading -->
		<h4 style="margin: 5px 0 0 0;">RCSC, Thimphu</h4>
	</div>
	<hr>
	<div
		class="card-container mt-3 d-flex justify-content-center align-items-center"
		style="min-height: 80vh;">

		<div
			class="row row-cols-1 row-cols-md-2 g-4 justify-content-center w-50">

			<div class="col d-flex">
				<div class="card flex-fill d-flex flex-column">
					<div class="card-body d-flex flex-column align-items-center">
						<span class="fa-sharp fa-solid fa-user fa-3x mb-3" style="color:blue;"></span>
						<h5 class="card-title">User Login</h5>
						<p class="card-text flex-grow-1">Login to system if you
							already have user credentials.</p>
						<button class="btn btn-primary mt-auto"
							onclick="window.location.href='/login'">User Login</button>
					</div>
				</div>
			</div>

			<div class="col d-flex">
				<div class="card flex-fill d-flex flex-column">
					<div class="card-body d-flex flex-column align-items-center">
						<span class="fa fa-user-plus fa-3x mb-3" style="color:blue;"></span>
						<h5 class="card-title">User Registration</h5>
						<p class="card-text flex-grow-1">Register and get approved to
							use the SPRMS system. Your registration will be checked and
							approved by Authority.</p>
						<button class="btn btn-primary mt-auto"
							onclick="window.location.href='/user/openregistrationfrm'">Add
							User</button>
					</div>
				</div>
			</div>

		</div>
	</div>

	<th:block
		th:replace="~{fragments/commonresource_js :: common_resource_js}"></th:block>
</body>
</html>