<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/dashboard}">

<section layout:fragment="content">

	<div class="container p-2 bg-body-secondary">Users</div>

	<div class="container mt-3">
		<table class="table table-bordered table-hover mt-3">
			<thead class="table-dark">
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>CID</th>
					<th>Contact No.</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${users}">
					<td th:text="${user.firstname}"></td>
					<td th:text="${user.lastname}"></td>
					<td th:text="${user.cidno}"></td>
					<td th:text="${user.contactno}"></td>
					<td th:text="Active"></td>
					<td><a th:href="@{/master/edit/{id}(id=${user.Id})}"
						class="btn btn-primary btn-sm">Edit</a> <a
						th:href="@{/master/delete/{id}(id=${user.Id})}"
						class="btn btn-danger btn-sm"
						onclick="return confirm('Are you sure you want to delete this record?');">
							Delete </a></td>

<!-- 					<td><a th:href="@{/master/edit/{id}(id=${lstM.Id})}"
						class="btn btn-primary btn-sm">Edit</a> <a
						th:href="@{/master/delete/{id}(id=${lstM.Id})}"
						class="btn btn-danger btn-sm"
						onclick="return confirm('Are you sure you want to delete this record?');">
							Delete </a></td> -->
				</tr>
			</tbody>
		</table>
	</div>

</section>

</html>