

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<th:block
	th:replace="~{fragments/commonresource_css :: common_resource_css}"></th:block>

</head>
<body>
	<section layout:fragment="content">

		<div class="container p-2 bg-body-secondary">Roles Details Page</div>

		<div class="container mt-3">
			<table class="table table-bordered table-hover mt-3">
				<thead class="table-dark">
					<tr>
						<th>ID</th>
						<th>Role Name</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="role : ${lstRoles}">
						<td th:text="${role.roleId}"></td>
						<td th:text="${role.roleName}"></td>
						<td th:text="Active"></td>
					</tr>
				</tbody>
			</table>
		</div>

	</section>
	<!-- JS Fragment -->
	<th:block
		th:replace="~{fragments/commonresource_js :: common_resource_js}"></th:block>
</body>
</html>